@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.ttf");
}

.App {
  user-select: none;
  text-align: center;
  margin: 36px auto;
  border-radius: 10px;
  background: #fff;
  /* max-width: 60%; */
  /* padding: 36px; */

  position: relative;
  width: 695px;
  height: 640px;

  background: #ffffff;
}

.constructor {
  position: absolute;
  margin: 0;
  padding: 0;
  /* width: 240px;
  height: 60px; */
  left: 76px;
  top: 106px;
}

.switcher {
  /* Frame 7 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;

  position: absolute;
  width: 243px;
  height: 38px;
  left: 372px;
  top: 38px;

  background: #f3f4f6;
  border-radius: 6px;
}

.frame5 {
  /* Frame 5 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 108px;
  height: 36px;

  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame4 {
  /* Frame 4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  width: 84px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame6 {
  /* Frame 6 */

  /* box-sizing: border-box; */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  width: 133px;
  height: 36px;

  background: #ffffff;
  border: 1px solid #e2e3e5;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.g {
  position: absolute;
  left: 49%;
  top: 20%;

  color: #5d5fef;
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.eye {
  /* eye */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.eye-outside {
  position: absolute;
  left: 14.5px;
  top: 12.5px;
  width: 15.9px;
  height: 11.67px;
  border-radius: 50%;

  border: 2px solid #4d5562;
}

.eye-inside {
  position: absolute;
  left: 20px;
  top: 16px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #4d5562;
}

.display-group {
  /* position: absolute; */
  width: 240px;
  height: 60px;
  left: 76px;
  top: 106px;
}

.item {
  width: 240px;
  list-style-type: none;
  /* height: 60px; */
  /* justify-content: flex-end; */
  display: flex;
  align-items: center;
  background: #ffffff;
  margin-bottom: 12px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%), 0px 4px 6px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 4px;
  gap: 10px;
  width: 100%;
  background: #f3f4f6;
  border-radius: 6px;
}

.display-nums {
  width: 26px;
  height: 44px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  padding: 4px;

  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #111827;
}

.math-group {
  display: flex;
}

.math-row {
  display: block;
}

.math {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  margin: 4px;
  width: 52px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #e2e3e5;
  border-radius: 6px;
}

.math-value {
  width: 7px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

.num {
  width: 72px;
  height: 48px;
}

.num-0 {
  width: 152px;
  height: 48px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.num-container {
  display: grid;
  height: auto;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 56px 56px 56px;
}

.to-count {
  display: inline-flex;
  width: -webkit-fill-available;
  height: 64px;
  margin: 4px;
  background: #5d5fef;
}

.to-count-value {
  width: 7px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #fff;
}

.calculator {
  box-sizing: border-box;

  position: absolute;
  width: 243px;
  height: 448px;
  left: 372px;
  top: 106px;
  margin: 0;
  padding: 0;

  /* light-blue/50 */

  background: #f0f9ff;
  border: 2px dashed #c4c4c4;
  border-radius: 6px;
}

.calculator2 {
  box-sizing: border-box;

  position: absolute;
  width: 243px;
  height: 448px;
  left: 372px;
  top: 106px;
  margin: 0;
  padding: 0;

  /* light-blue/50 */

  background: #f0f9ff;
  border-radius: 6px;
}

.empty-calculator-body {
  position: absolute;
  width: 127px;
  height: 84px;
  left: calc(50% - 127px / 2);
  top: calc(50% - 84px / 2);
}

.empty-calculator-text {
  /* Перетащите сюда */

  position: absolute;
  width: 127px;
  height: 17px;
  left: 0px;
  top: 33px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Iris/100 */

  color: #5d5fef;
}

.empty-calculator-text2 {
  /* любой элемент из левой панели */

  position: absolute;
  width: 103px;
  height: 30px;
  left: 12px;
  top: 54px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #6b7280;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
