@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.ttf");
}

.App {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  user-select: none;
  text-align: center;
  margin: 36px auto;
  border-radius: 10px;
  background: #fff;
  display: table;
  width: 695px;
  height: 640px;
  background: #ffffff;
}

.switcher {
  display: flex;
  flex-direction: row;
  padding: 1px;
  margin: 38px 80px auto auto;
  width: 243px;
  height: 38px;
  background: #f3f4f6;
  border-radius: 6px;
}

.switcher-text {
  margin: 8px;
}

.switcher-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 6px 4px 10px;
}

.switcher-inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.switcher-active {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e2e3e5;
  border-radius: 5px;
}

.arrows {
  color: #5d5fef;
  margin: 6px;
}

.eye-outside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 12px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #4d5562;
}

.eye-inside {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border: 2px solid #4d5562;
}

.container {
  display: flex;
  margin: 0 50px;
}

.sidebar {
  margin: 30px;
  padding: 0;
  left: 76px;
  top: 106px;
}

.item {
  width: 240px;
  list-style-type: none;
  display: flex;
  align-items: center;
  background: #ffffff;
  margin-bottom: 12px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%), 0px 4px 6px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 4px;
  width: 100%;
  background: #f3f4f6;
  border-radius: 6px;
}

.display-nums {
  width: 26px;
  height: 44px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  padding: 4px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #111827;
}

.math-group {
  display: flex;
}

.math-row {
  display: block;
}

.math {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 52px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e2e3e5;
  border-radius: 6px;
}

.math-value {
  width: 7px;
  height: 15px;
  color: #000000;
}

.num {
  width: 72px;
  height: 48px;
}

.num-0 {
  width: 152px;
  height: 48px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.num-container {
  display: grid;
  height: auto;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 56px 56px 56px;
}

.to-count {
  display: inline-flex;
  width: 100%;
  height: 64px;
  margin: 4px;
  background: #5d5fef;
}

.to-count-value {
  width: 7px;
  height: 15px;
  line-height: 15px;
  color: #fff;
}

.calculator {
  box-sizing: border-box;
  width: 243px;
  height: 448px;
  left: 372px;
  top: 106px;
  margin: 30px;
  padding: 0;
  background: #fff;
  border-radius: 6px;
}

.empty-calculator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 243px;
  height: 448px;
  margin: 30px;
  background: #fff;
  border: 2px dashed #c4c4c4;
  border-radius: 6px;
}

.empty-calculator-text {
  margin: 2px auto;
  line-height: 17px;
  color: #5d5fef;
}

.empty-calculator-text2 {
  margin: 2px auto;
  width: 103px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6b7280;
}

.calculator-items {
  margin: 0;
  padding: 0;
}

.calculator-item {
  margin-bottom: 6px;
  box-shadow: none;
}

.dragging-item {
  opacity: 0.5;
}

.canDrop-empty-calculator {
  background-color: #f0f9ff;
}

.canDrop-calculator {
  border-bottom: 1px #5d5fef solid;
}
